@charset "utf-8";

body {
  margin: 0;
  
  font-size: 16px;
  background-color: #212121;
}
p{
  color: #d4d4d4;
}
h1{
  color: #d4d4d4;
}
h2{
  color: #d4d4d4;
}
a {
  color: inherit;
  text-decoration: none;
  
}

.btn_arrow{
  border-style: solid;
  color: #d4d4d4;
}
.btn_box{
  border-style: solid;
  color: #d4d4d4;
}
.sub-title{
    font-size: 20px;
}
header {
  background: #eee;
  display: flex;
  justify-content: space-between;
  padding: 16px;
} 

.logo {
  font-size: 30px;
} 
nav li{
  margin-top: 35px;
}
nav ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contents{
    width: 1024px;
    margin: 0 0 60px;
}
#first-view h1{
    font-size: 70px;
}
#font-view .sub-title{
    font-size: 18px;
}
#sec-1{
    
    margin-left: auto;
    margin-right: auto;
}
#sec-2{
    
  margin-left: auto;
  margin-right: auto;
}
#sec-3 img{
    
  margin-left: auto;
  margin-right: auto;
}

footer {

}
